body{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    padding:20px;
    background: white;

}

h1{
    color:black;

}

section{
    background: white;
    padding: 20px;
    margin: 20px auto;
    border-radius:10px;
    max-width:400px;
    box-shadow:0 2px 6px rgba(0,0,0,0.1);

}

input,button{
    padding:10px;
    margin:5px;
    font-size:16px;
}

button{
    background:rgb(12, 88, 118);
    color:white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background: blue;

}

#weather{
    margin-top: 20px;
    font-size: 18px;
}